        body {
          margin: 0;
          background: #f1f1f1;
          line-height: 1.5;
        }

        p {
          padding: 0;
          margin: 0;
        }

        .content {
          width: auto;
          position: relative;
          padding-top: 5px;
          margin-left: 10px;
          margin-right: 10px;
        }

        .content .title {
          width: 100%;
          height: 40px;
          font-size: 24px;
          border: none;
          outline: none;
          background-color: transparent;
          color: inherit;
          border-color: inherit;
        }

        .content .line {
          border: 1px dashed #969696;
          margin-top: 5px;
        }

        .content #editor {
          margin-top: 4px;
          font-size: 16px;
          outline: none;
        }

        .content #editor hr {
          font-family: Avenir, sans-serif;
          border-right-width: 0px;
          border-bottom-width: 0px;
          border-left-width: 0px;
          border-top-style: solid;
          border-color: inherit;
          height: 1px;
          margin:0px;
          padding: 0px;
          color: #9b9b9b;
          font-size: 16px;
          white-space: normal;
          display: block;
        }

        .content #editor div {
          margin-top:6px;
          margin-bottom 6px;
        }

        .content #editor .block {
          text-align: center;
          position: relative;
          height: auto;
          overflow: hidden;
        }

        .content #editor .img-block .images {
          display: block;
          margin: 0;
        }

        .content #editor .block input {
          text-align: center;
          width: 10rem;
          border: none;
          outline: none;
          border-bottom: 1px solid;
          padding-bottom:5px;
          margin-bottom:5px;
          background-color:transparent;
          color: #9b9b9b;
          border-color: inherit;
          pointer-events: none;
        }

        .img-block .delete{
          display: none;
          text-align: center;
          background: #ea6f5a;
          color: #fff;
          font-size: 0px;
          position: absolute;
          width: 100%;
          height: 100px;
          top: 50%;
          margin-top: -50px;
          padding-top: 10px;
          z-index: 3;
        }

        .img-block .delete img{
          width: 36px;
          height: 36px;
        }

        .img-block .delete .tips{
          margin: 5px auto;
          font-size: 20px;
        }

        #editor .editor-link{
          text-decoration: none;
          color: #2AAFF3;
        }

        .block{
          font-size: 0;
        }

        .process{
          height: 5px;
          display: inline-block;
        }

        .fill{
          height: 100%;
          background: #2AAFF3;
          width: 0;
        }

        .cover{
          position: absolute;
          top: 5px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 2;
          background: rgba(255, 255, 255, 0.0);
        }

        #editor:empty:before {
          content: "请输入图文介绍，例：套餐内容、商品图文介绍、环境等";
          opacity: .5;
        }

        blockquote {
          background: rgba(90%, 90%, 90%, .3);
          border-left: 10px solid;
          border-color: rgba(30%, 30%, 30%, .3);
          margin: 1.5em 10px;
          padding: 0.5em 10px;
          quotes: "\201C""\201D";
        }

        blockquote:before {
          color: inherit;
          font-size: 4em;
          line-height: 0.1em;
          margin-right: 0.25em;
          vertical-align: -0.4em;
        }

        blockquote p {
          display: inline;
        }

        .bg_box{
            width: 100%;
            min-height:240px;
            background-color: #f1f1f1;
            overflow: auto;
        }
        .inner_box{
            width: 92%;
            min-height: 28px;
            margin: -25px auto;
            background-color: #FFFFFF;
            padding-bottom: 15px;
        }
        .bg_line{
            width: 95%;
            height: 10px;
            margin: 20px auto;
            background-color: #C6C6C6;
            border-radius: 5px;
            z-index:-1;
        }
        .Tr_P{
            width: 100%;
            padding-top: 25px;
            padding-bottom:15px;
            margin-left:10px;
            overflow:hidden;
            font-size: 18px;
            font-weight: bold;
        }
        .Tr_PLeft{
            width: 5%;
            height: auto;
            float: left;
        }
        .Tr_PR{
            width: 90%;
            height: auto;
            float: right;
            padding-top:3px;
            margin-left:-2px;
        }
        .Tr_P p{
            width: 93%;
        }
        .Tr_PLeft span{
            width: 20px;
            height: 20px;
            font-size: 14px;
            text-align: center;
            line-height: 20px;
            margin: 0 20px 0 8px;
            display: inline-block;
            border-radius:2px;
            color: white;
            background-color: #ffc000;
        }
        .list{
            font-size: 16px;
            //display:inline-box;
        }
        .list .item {
            list-style-type:disc;
            margin-left:20px;
        }

        .list .item li{
            margin-top: 10px;
        }
        .sp_sty{
            margin-left: 10px;
            text-decoration: line-through;
            font-size: 14px;
            color: #ccc;
        }
        .sp_color{
            color: #666666;
            font-size:15px;
            padding:8px 0 0;
        }
        .{
            font-size: 12px;
            color:#ccc;
            text-decoration: line-through;
        }
        .list_sty{
            width:96%;
            list-style: none;
            margin-left: -2px;
            color: #666666;
        }
        .list_sty li{
            margin-top: 5px!important;
        }
        .insert_box{
            width: 92%;
            min-height:50px;
            /*border: 1px solid #ccc;*/
            font-size: 18px;
            text-align: left;
            margin:20px auto;
        }
        .insert_box p img{
            width: 100%;
            height: auto;
            margin: 10px auto;
        }
        .tex_box{
            width: 90%;
            height: auto;
            margin: 40px auto;
            border: 2px dotted #ccc;
            color: #ccc;
            background-color: #fff;
        }
        .tex_box ul{
            list-style: none;
        }
        .list ul{
            list-style-type:none;
            padding:0 15px 10px 15px;
        }
        .list ul li{
            font-family:Arial,Helvetica,sans-serif;
            margin-top:10px;
            padding:0;
        }
        .tex_box ul li{

            margin: 15px 10px 15px 20px;
        }
        .bg_footBox{
            width: 92%;
            height: auto;
            margin: auto;
        }
        .bg_foot{
            width: 100%;
            margin-top: 10px;
        }

        #editor img{
            width: 100%;
            height: auto;
            margin: 5px auto;
        }